:root{
    --background_blueish_color: #e7f3ff
}
body{
    font-family: "Roboto",sans-serif;
}
header,main,footer{
    margin: 1rem auto;
    padding:1rem;
    background-color:var(--background_blueish_color);

}
main{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem;
}
section{
    padding: 1rem;
    background-color: #ffffff;
}