:root{
    --background-color: #F0F4F8; /* Fondo principal */
    --text-color: #1E2A78;       /* Títulos y texto principal */
    --accent-color: #F57C20;     /* Color de acento */
    --secondary-color: #3D9970;  /* Color secundario */
    --white: #FFFFFF;     
}
@media screen and (min-width: 768px) {

    body{
        width: 100%;
        font-family: "Roboto",sans-serif;
        background-color:var(--white);
    }
    h2{
        text-align: center;
        color: var(--text-color);
    
    }
    header,main,footer{
        margin: 1rem auto;
        padding:1rem;
        background-color:var(--background-color);
    }
    header{
        color: #ffffff;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "titulo menu";
    }
    header h1{
        grid-area: titulo;
        color: var(--accent-color);
    }
    nav {
        grid-area: menu;
        display: flex;
        align-items: center; /* Mostrar el menú horizontalmente */
        justify-content: end;
    }
    
    nav ul {
        display: flex; /* Hacer que la lista sea horizontal */
        list-style: none;
        gap: 3em;
        margin: 0;
        padding: 0;
    }
    
    nav li {
        margin: 0 1rem; /* Espaciado entre los elementos del menú */
    }
    
    nav a {
        text-decoration: none; /* Eliminar subrayado */
        color: var(--accent-color);
    }
    
    /* Estilos para el botón hamburguesa */
    .hamburger {
        display: none; /* Ocultar el botón hamburguesa por defecto */
        font-size: 24px; /* Ajusta el tamaño según sea necesario */
        background: none;
        border: none;
        cursor: pointer;
    }
    
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
         "title title title"
         "images images images";
        color:var(--text-color);
    }
    h2{
        grid-area: title;
        text-align: center;
        color: var(--text-color);
    
    }
    img{
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }
    
    section{
        padding: 1rem;
        background-color: #ffffff;
    }
    footer p{
        text-align: center;
    }
}
